{% extends "UnoegohhAdminBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <div class="header-section">
            <h1>
                Главная страница админской части
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Главная</li>
    </ul>
    <div class="row">
        <div class="col-md-6">
            <p>Тут я опишу что есть что - <br/>
                <b>Настройки сайта</b> <br/>
                Тут настраивается телефон и Email.
            </p>
        </div>
    </div>
{% endblock %}