{% set url="/archive" %}

{% extends "UnoegohhSiteBundle:Default:index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/jquery-ui.theme.min.css"/>
{% endblock %}

{% block main %}

    <div id="wrapper_for" class="archive_page" style="margin: 30px 0 0 ">
        {% if posts %}
            {% for cat in posts %}
                {% include "UnoegohhSiteBundle:Default:archiveMonth.html.twig" with {'cat': cat, '_locale' : _locale} %}


            {% endfor %}

            <script>
                $(function(){
                    var $container = $('.archive_page');

                    var moreUrl ="{{ path('unoegohh_site_archive_more', {"_locale" : _locale}) }}";
                    var done = true;
                    window.onscroll = function(ev) {

                        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && done) {
                            done = false;
                            var lastId = $('#container .item:last').attr('data-id');
                            console.log('last-id ' + lastId );
                            $.post(moreUrl + '/' + lastId,function(data){
                                if(data.result){

                                    $container.append(data.result);

                                    var $items = $('.item_wrapper');
                                    $items.each(function(){
                                        $(this).imagesLoaded( function(){
                                            $items.masonry({
                                                itemSelector : '.item',
                                                columnWidth: 158,
                                                "gutter": 18,
                                                transitionDuration: 0
                                                //"isFitWidth": true
                                            });
                                        });
                                    });
                                    done = true;

                                }
                            });
                        }
                    };
                });
            </script>

        {% else %}
            <p>Нет данных</p>
        {% endif %}
    </div>

    <style>
        #container .archive_page .item {
            width: 158px
        }
        #container .archive_page .item img {
            display: block;
            width: 158px;
        }
        #container .archive_page .item .item_text{
            display:none;
        }
    </style>
    <script>
        $(function(){
            var $container = $('.item_wrapper');

            $container.each(function(){
                $(this).imagesLoaded( function(){
                    $container.masonry({
                        itemSelector : '.item',
                        columnWidth: 158,
                        "gutter": 18,
                        transitionDuration: 0
                        //"isFitWidth": true
                    });
                });
            });

        });
    </script>

{% endblock %}