
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Вход на сайт</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/admin/img/favicon.ico">
    <link rel="apple-touch-icon" href="/admin/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/admin/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/admin/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/admin/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/admin/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/admin/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/admin/img/icon152.png" sizes="152x152">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vend/modernizr-2.7.1-respond-1.4.2.min.js"></script>
</head>
<body>
<!-- Login Background -->
<div id="login-background">
    <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
    <img src="/admin/img/placeholders/headers/login_header.jpg" alt="Login Background" class="animation-pulseSlow">
</div>
<!-- END Login Background -->

<!-- Login Container -->
<div id="login-container" class="animation-fadeIn">
    <!-- Login Title -->
    <div class="login-title text-center">
        <h1><i class="gi gi-flash"></i> <strong>Вход на сайт</strong><br><small>Пожалуйста <strong>Авторизируйтесь</strong></small></h1>
    </div>
    <!-- END Login Title -->

    <!-- Login Block -->
    <div class="block push-bit">
        <!-- Login Form -->
        <form action="{{ path("fos_user_security_check") }}" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>

                        <input type="text" id="login-email" name="_username" required="required"  class="form-control input-lg" placeholder="Login" value="{{ username }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>

                        <input type="password" id="login-password"  required="required" name="_password" class="form-control input-lg" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-4">
                    <label class="switch switch-primary" data-toggle="tooltip" title="ЗАпомнить меня?">
                        <input type="checkbox" id="login-remember-me" name="_remember_me" checked>
                        <span></span>
                    </label>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="submit" name="_submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Войти</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->


        <!-- END Register Form -->
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center">
        <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI 2.0</a></small>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Login Container -->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vend/jquery-1.11.0.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js, Jquery plugins and Custom JS code -->
<script src="/admin/js/vend/bootstrap.min.js"></script>
<script src="/admin/js/plugins.js"></script>
<script src="/admin/js/app.js"></script>

<!-- Load and execute javascript code used only in this page -->
<script src="/admin/js/pages/login.js"></script>
<script>$(function(){ Login.init(); });</script>
</body>
</html>