<form method="post" class="form-horizontal form-bordered">
    {{ form_widget(form._token) }}
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-email">Фоточка</label>

        <div class="col-md-9">
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Описание</label>

        <div class="col-md-9">
            {{ form_widget(form.descr, {'attr': {'class': 'ckeditor form-control ', 'rows' : 10}}) }}
        </div>

    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Описание анг</label>

        <div class="col-md-9">
            {{ form_widget(form.descr_eng, {'attr': {'class': 'ckeditor form-control ', 'rows' : 10}}) }}
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Сохранить
            </button>
        </div>
    </div>
</form>