

<p>Загрузка фотографий</p>

<p>Выберите фотографию и ссылка на нее появится ниже</p>
<p>

<span id="eee">Здесь будет ссылка на картинку !</span>

<form id="upload_image" action="{{ path('unoegohh_admin_static_page_image_upload') }}" method="post">
    <input type='file' name="files[file]" id="imgInp"/>
</form>
</p>
