@font-face {
    font-family: Light;
    src: url(/Light.otf);
}
@font-face {
    font-family: Thinn;
    src: url(/Thin.otf);
}
@font-face {
    font-family: SemiBold;
    src: url(/Semibold.otf);
}
@font-face {
    font-family: Regular;
    src: url(/Regular.otf);
}

body {
    padding: 0;
    font-family: Regular , sans-serif;
    margin: 0;
    background:  url("/images/pattern.jpg");
}
#banner {
    height:241px;
    background: url("/images/header.png") center center;
    margin: 0 0 20px 0;
}
#container {
    padding: 0 94px 50px;

}
#container .item{
    margin-bottom: 18px;
    font-size: 13px;
    width: 340px;
    overflow: hidden;
    font-family: Light;
    background: #eeeeee;
}
#container .item .item_text{
    padding: 1px 14px ;
    background: #eeeeee;
    z-index: 10;
    position: relative;
}
#container .item img{
    display: block;
    width: 340px;
}
#about_page {
    height: 707px;
    color: white;
    font-size: 13px;
    padding: 100px 600px 0 120px;
    background: url("/images/humans_about.jpg") no-repeat center top;
}
.blog_helper {
    background-color:rgba(0,0,0,0.3);
    position:absolute;
    color:#FFFFFF;
    text-transform:uppercase;
    padding: 15px;

    width:310px;
    font-size:14px;
    line-height:14px;
    font-family: Regular;
    opacity:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.item:hover .blog_helper {
    margin-top:-40px;
    opacity:1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog_helper .blog_icons {
    float: right;
    text-align: right;
    position: relative;
    top: -11px;
}
.blog_helper .blog_icons a {
    display: block;
    margin: 0 5px 0 0;
    float: left;
}
.blog_helper .blog_icons .blog_facebook {
    width: 8px;
    height: 17px;
    background-position: -60px 0px;
    top: 5px;
    left: -1px;
}
.blog_helper .blog_icons .blog_vk {
    width: 19px;
    height: 11px;
    background-position: -41px 0px;
    top: 9px;
    left: -1px
}
.blog_helper .blog_icons .blog_tumblr {
    width: 10px;
    height: 17px;
    background-position: -31px 0px;
    top: 5px;
}
.blog_helper .blog_icons .blog_twitter {
    width: 16px;
    height: 13px;
    background-position: 0px 0px;
    top: -4px;
}
.item .info {
    text-align: center;
    font-size: 14px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    color:white;

    width:320px;


    margin-top:-50px;
    height:auto;
    padding:8px 10px;

    background-color:rgba(0,0,0,0.7);
    z-index:998;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.item:hover .info{
    opacity:1;
    margin-top:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header {
    height: 118px;
    box-sizing: border-box;
    padding: 0 94px;
    margin: 0 auto;
    line-height: 118px;
}
header #language {
    width: 100px;
    float: right;
    text-align: right;
}
header #language a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
header #language a:hover{
    color: #ff6b00;
}
header #social a{
    text-decoration: none;
    display: inline-block;
    width: 32px;
    background: black;
    text-align: center;
    height: 32px;
    border-radius: 16px;
    position: relative;
    top: 10px;
    line-height: 52px;
}
header #social{
    width: 340px;
    float: left;
}
header #social a:hover{
    background: #ff6b00;
}
#wrapper {
    background: white;
    width: 1250px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.75);
}
nav{
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li {
    display: inline-block;

    font-size: 14px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: SemiBold;
    color: black;
    padding: 0 10px;
    margin: 14px 0;
}
nav ul li a:hover{
    text-decoration: none;
    color: #ff6b00;
}
#facebook {
    height: 118px;
    width: 450px;
    line-height: 18px;
    padding:  0 0 0 20px;
    float: left;
}
#facebook #face_header_link{
    display: block;
    height: 81px;
    width: 80px;
    float: left;
    background: url("/images/афсуищщл%20ифслпкщгтв.png") no-repeat left top;
    margin: 0 20px 0 0;
}
#facebook h3{
    text-transform: uppercase;
    margin-bottom: 7px;
}
.icon {
    background: url("/images/sprite.png") no-repeat center center;
    display: inline-block;
    position: relative;
}
.header_vk {
    width: 19px;
    height: 11px;
    background-position: -41px 0px;
    top: -9px;
}
.header_thumb {
    width: 10px;
    height: 17px;
    background-position: -31px 0px;
    top: -7px;
}
.header_insta {
    width: 15px;
    height: 15px;
    background-position: -16px 0px;
    top: -8px;
}
.header_twitter {
    width: 16px;
    height: 13px;
    background-position: 0px 0px;
    top: -9px;
}
.blog_icons a{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    position: relative;
    top: 3px;
    text-align: center;
}
.blog_icons a:hover{
    background: #ff6b00;
}
.en #banner{
    background-image: url("/images/shapka_en.png");
}
@media only screen and (max-width: 640px){
    #wrapper #banner {
        height: 110px;
        background: url("/images/humans_640.png") center center no-repeat;
    }
    #wrapper {
        width: 640px;
        box-sizing: content-box;
        margin: 0 auto;
        box-shadow: none;
    }
    body{
        background: none;
    }
    #facebook , #social , nav{
        display: none;
    }
    #container .item {
        width: 561px;
        font-size: 18px;
    }
    header {
        height: 74px;
        line-height: 74px;
    }
    header #language {
        width: 100%;
        font-size: 14px;
        float: none;
        text-align: center;
    }
    #container .item img {
        width: 561px;
    }
    #container {
        padding: 0;
    }
    .blog_helper {
        width: 531px;
        font-size: 18px;
    }
}
@media screen and (max-device-width: 480px){

}